* {
    display: block;
    text-align: left;
}
tyden::before{
    font-size: 4rem;
    color: blue;
}
tyden{
    text-align: center;
}
tyden[cislo*='40']::before{content: "Týden čtyřicátý:";}
tyden[cislo*='41']::before{content: "Týden čtyřicátý první:";}
den::before{
    transition-property: font-size;
    display: flex;
    text-align: center;
    font-size: 3rem;
    color: blue;
    display: inline-block;
}
den::before{content: attr(cesky)":";}
den::before{ text-transform: capitalize;}
/*den[cislo*='2']::before{content: "Úterý:";}
den[cislo*='3']::before{content: "Středa:";}
den[cislo*='4']::before{content: "Čtvrtek:";}
den[cislo*='5']::before{content: "Pátek:";}
*/
den:hover{
    font-size: 2rem;
    width: 70vw;
    margin-left: 15vw;
}
/*
*/
den{
    margin-left: 1rem;
    position: relative;
    width: 85vw;
    text-align: center;
    display: block;
    background-color: azure;
    margin: 1rem;
    transition-property: margin, width, font-size;
    transition-duration: 0.5s;    
    padding-left: 1rem;
}
polevka::before{content: "Polévka: "; font-weight: bold; width: 12vw;display: inline-block;}
hlavni_jidlo[cislo="1"]::before{content: "Hlavní jídlo: "; font-weight: bold; display: inline-block; width: 12vw;}
hlavni_jidlo[cislo="2"]::before{content: "Bezmasé jídlo: "; font-weight: bold; width: 12vw; display: inline-block;}
alrgn::before{content: "(";}
alrgn{
    text-indent: 1rem;
    color: grey;
    display: inline-block;
}
alrgn::after{content: ")";}
