/*/ Positioning 
static -  by default
absolute - stupid
relative - relative to it's parent
fixed - at the same spot relative to screen
/*/

/*/ Display
inline;
block;
inline-block;
flex;
/*/

body { 
    background: grey; 
}
div { background: white; 
    display: block; 
    text-indent: 5rem; 
}
h1 { 
    font-weight: bold;
}
.three {
    transition-property: backround, border-radius;
    transition-duration: 0.5s, 0.2s;
    transition-delay: 2s;
}
.three {
    transition: backround 3s 5s, border-radius 5s, 1s;
    transition: all 4s 5s;
}

@media screen and (max-aspect-ratio: 1/1) {
    body {
        background: blue; 
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    body {
        background: violet; 
    }
}

@media (orientation: portrait) {
    body {
        background-color: coral;
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    body {
        background-color: aquamarine;
    }
}
