# Ignore commit message file
commit_message.txt
# Ignored file types
.ipynb_checkpoints
__pycache__
# Informatics directories to be ignored
informatics/artificial_intelligence/examples/2_sudoku/data/inst_test
informatics/computational_math/combinatorial_optimization/assignments/3_experimental_measurements/gen
informatics/artificial_intelligence/computational_intelligence/term_project/dkt
informatics/artificial_intelligence/computational_intelligence/term_project/sources_and_outputs
informatics/computational_math/numerical_linear_algebra/mpi_cpp_tomas
