# Ignored file types
.ipynb_checkpoints
# Informatics directories to be ignored
informatics/artificial_intelligence/examples/sudoku/data/inst_test
informatics/combinatorial_optimization/assignments/data
informatics/combinatorial_optimization/assignments/3_experimental_measurements/gen
informatics/combinatorial_optimization/assignments/4_local_search/code/neemiasbsilva
informatics/computational_intelligence/term_project/dkt
informatics/computational_intelligence/term_project/sources_and_outputs
informatics/numerical_math/mpi_cpp_tomas
# Ignore commit message file
commit_message.txt
