informatics/combinatorial_optimization/homeworks/data
informatics/combinatorial_optimization/homeworks/hw04/ins
informatics/combinatorial_optimization/homeworks/hw04/neemiasbsilva
informatics/computational_intelligence/term_project/dkt
informatics/computational_intelligence/term_project/sources_and_outputs
informatics/numerical_math/mpi_cpp_tomas

