body { 
    flex-direction: column;
}
div {
    text-indent: 5rem; 
}
h1 { 
    font-weight: bold;
}
.three {
    transition-property: backround, border-radius;
    transition-duration: 0.5s, 0.2s;
    transition-delay: 2s;
}
.three {
    transition: backround 3s 5s, border-radius 5s, 1s;
    transition: all 4s 5s;
}
